---
#### 제로베이스(https://zero-base.co.kr/)
#### 데이터사이언스 90일 완주반 
---
#### **Guideline**
- 총점 100점으로 주차별로 약 2~3개 문제가 제시됩니다
- 각 문제마다 안내사항과 요구사항을 꼼꼼하게 확인해주신 후, 코드를 작성해주세요 
- 코드는 제시드리는 결과만 같게 나온다면, 추후 모범답안으로 드리는 코드와 달라도 괜찮습니다 

#### **Notice!** 
- 제출 기한을 반드시 지켜주세요 
- 제출 전 코드가 정상적으로 실행되는지 검토해주세요
- 제출하신 코드에 대해 멘토님의 일부 주관적인 부분점수가 반영될 수 있습니다
- 부분점수 반영 시 상세한 피드백을 드릴 예정이오니, 문의가 있을시 멘토님과 담당 매니저님이 적극 소통할 예정입니다
---
# **2주차 과제**
- 총 100점 3문제
---

### 1.(Python2_15) 아래 요구사항에 맞게 코드를 작성해주세요. (30점)
새로운 사용자의 email을 받으면 데이터프레임에 추가하는 함수를 만들려 합니다
- 함수는 데이터프레임과 email을 받고 데이터프레임을 반환합니다 \
(email은 영문자 소문자, 숫자로만 이루어져 있습니다)
- id는 항상 가장 마지막 id보다 1 큰 문자열입니다
- user_name은 email 주소의 id에 해당합니다
- domain은 email 컬럼에서 메일의 도메인만 가져옵니다
- 'user_name'과 'domain'은 split()으로도, re로도 가져올 수 있습니다

**결과 예시**
```python
# 함수 실행
df_update = update_user_data(df, 'fastcamp22@gmail.com')
print(df_update)
```
```
# 결과
         id                 email   user_name domain
0  62040702         kim@gmail.com         kim  gmail
1  62040703          ko@naver.com          ko  naver
2  62040704         joh@gmail.com         joh  gmail
3  62040705         lee@naver.com         lee  naver
4  62040706        park@gmail.com        park  gmail
5  62040707  fastcamp22@gmail.com  fastcamp22  gmail
```

##### <코드>

In [ ]:
# 문제 풀기 전에 실행해주세요
import pandas as pd

data = {
    "id" : ['62040702','62040703','62040704','62040705','62040706'],
    "email" : ['kim@gmail.com','ko@naver.com','joh@gmail.com','lee@naver.com','park@gmail.com'],
    "user_name" : ['kim','ko','joh','lee','park'],
    "domain" : ['gmail','naver','gmail','naver','gmail']
}
df = pd.DataFrame(data)
df

         id           email user_name domain
0  62040702   kim@gmail.com       kim  gmail
1  62040703    ko@naver.com        ko  naver
2  62040704   joh@gmail.com       joh  gmail
3  62040705   lee@naver.com       lee  naver
4  62040706  park@gmail.com      park  gmail

In [ ]:
# 여기에 코드를 작성하세요
def update_user_data(df, email):
  domain = email.split("@")[1].split(".")[0]
  user = email.split("@")[0].split(".")[0]
  new_id = int(df.tail(1)["id"]) + 1
  df.loc[len(df)] = [new_id, email, user, domain]
  return df

df_update = update_user_data(df, 'fastcamp22@gmail.com')
df_update

         id                 email   user_name domain
0  62040702         kim@gmail.com         kim  gmail
1  62040703          ko@naver.com          ko  naver
2  62040704         joh@gmail.com         joh  gmail
3  62040705         lee@naver.com         lee  naver
4  62040706        park@gmail.com        park  gmail
5  62040707  fastcamp22@gmail.com  fastcamp22  gmail

In [ ]:
# 실행 코드
df_update = update_user_data(df, 'fastcamp22@gmail.com')
df_update

---

### 2.(Python2_35) 아래 요구사항에 맞게 코드를 작성해주세요. (30점)
아래 입양 동물 데이터에서 개/고양이에 따른 입양 속도(AdoptionSpeed)를 비율로 보려합니다 
- 제공된 df을 받아 df_percent를 return하는 함수를 완성해주세요
- 개/고양이 기준 입양속도별 개수를 나타내는 새로운 df_percent를 만들어주세요
- 각 합을 나타내는 total column을 만들어주세요
- 각 숫자를 total 기준으로 퍼센트 값으로 바꿔주세요 
- 숫자를 세기 위해선 agg function으로 count를 쓰면 됩니다
- 개/고양이에 따른 입양 속도를 보려면 index론 type, column으론 adoptionspeed를 두어야합니다
- pandas에는 특정 row의 값들의 합을 구해주는 함수가 있습니다

**결과 예시** \
```
AdoptionSpeed	0	1	2	3	4	total
Type						
Cat	3.71	24.74	28.12	18.88	24.55	100.0
Dog	2.21	18.35	26.74	24.41	28.30	100.0
```

##### <코드>

In [ ]:
# 문제 풀기 전에 실행해주세요
import pathlib
import tensorflow as tf
import pandas as pd


dataset_url = 'http://storage.googleapis.com/download.tensorflow.org/data/petfinder-mini.zip'
csv_file = 'datasets/petfinder-mini/petfinder-mini.csv'
tf.keras.utils.get_file('petfinder_mini.zip', dataset_url, extract=True, cache_dir='.')
df = pd.read_csv(csv_file)

df = df[['Type','Age','Gender','Gender','Fee', 'AdoptionSpeed']]
df.head()

  Type  Age  Gender  Gender  Fee  AdoptionSpeed
0  Cat    3    Male    Male  100              2
1  Cat    1    Male    Male    0              0
2  Dog    1    Male    Male    0              3
3  Dog    4  Female  Female  150              2
4  Dog    1    Male    Male    0              2

In [ ]:
# 여기에 코드를 작성하세요
# Cat: 4936, Dog: 6601
def get_adoptspeed_percent(df):
  # Setting a pivot table & total column
  # Adoption speed가 int라서 형변환 해줘야함 
  result = df["counts"] = 1
  result = df.pivot_table("counts", ["Type"], ["AdoptionSpeed"], aggfunc=np.sum)
  result["total"] = result.sum(axis =1) 

  # 각 칼럼 퍼센티지로 업데이트
  for i in range(5):
    result.loc["Cat"][i] = result.loc["Cat"][i] / result["total"][0] * 100.0    
  for i in range(5):
    result.loc["Dog"][i] = result.loc["Dog"][i] / result["total"][1] * 100.0

  # total 칼럼 업데이트
  result["total"] = 0
  result["total"] = result.sum(axis = 1)
  return result

df_percent = get_adoptspeed_percent(df)
df_percent

AdoptionSpeed  0   1   2   3   4  total
Type
Cat            3  24  28  18  24     97
Dog            2  18  26  24  28     98

---

### 3.(Python2_26) 아래 요구사항에 맞게 코드를 작성해주세요. (40점)
보스턴 주택 가격 데이터셋을 활용하여 집값을 예측하려 합니다.
- 주어진 raw_data를 활용해주세요
- 가구 당 평균 방 개수('RM')와 고속도로 접근성 지수('RAD')로 집값('MEDV')을 회귀분석해주세요
- 모델 평가는 MAE로 해주세요
- 학습된 모델로 RM : 5 , RAD : 3 인 주택의 가격을 예측해보세요.
- 수행 순서
    - 데이터 전처리1 : 독립변수와 종속변수 나누기
    - 데이터 전처리2 : 학습데이터와 테스트데이터 나누기
    - 선형회기 모델 학습
    - 모델 평가
    - 주택 가격 예측
- 모든 값은 소수점 3자리에서 반올림 해주세요
- 각 컬럼의 정보는 [scikit-learn](https://scikit-learn.org/stable/datasets/toy_dataset.html)에 있습니다

- 데이터의 특성(feature, =컬럼명)을 파악해보세요
- 활용할 독립변수와 종속변수를 각각 데이터프레임으로 만드세요
- 데이터를 나누기 위해 sklearn에서 제공하는 train_test_split 모듈을 import 하세요
- 선형회귀분석를 위해 sklearn에서 제공하는 LinearRegression 모듈을 import 하세요
- 모델 평가를 위해 sklearn에서 제공하는 mean_absolute_error 모듈을 import 하세요

- *최종 답은 한 셀로 모아서 작성해주세요.*


**결과 예시**
```
# 결과값은 다를 수 있습니다 :)
MAE : 4.01
Predict : 13.55
```

##### <코드>

In [ ]:
# 문제 풀기 전에 실행해주세요
from sklearn.datasets import load_boston


dataset = load_boston()
raw_data = pd.DataFrame(dataset.data, columns=dataset.feature_names)
raw_data['MEDV'] = dataset.target
raw_data.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
# 여기에 코드를 작성하세요
import numpy as np
import pandas as pd
import pickle

from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.datasets import load_boston

dataset = load_boston()
raw_data = pd.DataFrame(dataset.data, columns=dataset.feature_names)
raw_data['MEDV'] = dataset.target

# 데이터 전처리 (독립 변수, 종속 변수)
df_x = raw_data[["RM", "RAD"]]
df_y = raw_data[["MEDV"]]

# 데이터 전처리 (학습데이터, 테스트 데이터)
train_x, test_x, train_y, test_y = train_test_split(
    df_x, df_y, test_size = 0.3, random_state = 1)

# 데이터 분석
model = linear_model.LinearRegression()
model.fit(train_x, train_y)

#성능평가 
pred_y = model.predict(test_x)
mae = mean_absolute_error(test_y, pred_y).round(2)
# 셋째자리에서 반올림. 즉 둘째짜리까지 살리기

# 예측 함수
def make_df(RM, RAD):
    return pd.DataFrame({"RM": [RM], "RAD":[RAD]})
RM, RAD = 5, 3
predict = float(model.predict(make_df(RM, RAD)).flatten().round(2))

print('MAE :', mae)
print('Predict :', predict)

MAE : 4.2
Predict : 14.28